#
# Service translations
#
# @language		en_US
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:TriggersNode!
# @subpackage	Translations
# @since		0.1.0
#
# @date			05.04.20
#
