#
# Service DI configuration
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:TriggersNode!
# @subpackage	config
# @since		0.1.0
#
# @date			05.04.20

##############################
# Node predefined parameters #
##############################

parameters:
	origin: com.fastybird.triggers-node

	rabbitmq:
		queueName: fb.triggers.node.exchange
		routing:
			- fb.bus.node.entity.deleted.channel	# Channel entities
			- fb.bus.node.entity.*.channel.property	# Channel property entities
			- fb.bus.node.entity.deleted.device		# Device entities
			- fb.bus.node.entity.*.device.property 	# Device property entities

#########################
# Used Nette extensions #
#########################

extensions:
	contributteTranslation				: Contributte\Translation\DI\TranslationExtension
	nettrineAnnotations					: Nettrine\Annotations\DI\AnnotationsExtension
	nettrineCache						: Nettrine\Cache\DI\CacheExtension
	nettrineDbal						: Nettrine\DBAL\DI\DbalExtension
	nettrineOrm							: Nettrine\ORM\DI\OrmExtension
	nettrineOrmAnnotations				: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrineOrmConsole					: Nettrine\ORM\DI\OrmConsoleExtension
	nettrineOrmCache					: Nettrine\ORM\DI\OrmCacheExtension
	fbDateTimeFactory					: FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension
	fbSimpleAuth						: FastyBird\SimpleAuth\DI\SimpleAuthExtension
	fbDatabase							: FastyBird\Database\DI\DatabaseExtension
	fbJsonApi							: FastyBird\JsonApi\DI\JsonApiExtension
	fbModulesMetadata					: FastyBird\ModulesMetadata\DI\ModulesMetadataExtension
	fbWebServer							: FastyBird\WebServer\DI\WebServerExtension
	fbTriggersModule					: FastyBird\TriggersModule\DI\TriggersModuleExtension
	fbRabbitMqPlugin					: FastyBird\RabbitMqPlugin\DI\RabbitMqPluginExtension
	ipubPhone							: IPub\Phone\DI\PhoneExtension
	ipubDoctrinePhone					: IPub\DoctrinePhone\DI\DoctrinePhoneExtension
	ipubDoctrineConsistence				: IPub\DoctrineConsistence\DI\DoctrineConsistenceExtension
	ipubDoctrineCrud					: IPub\DoctrineCrud\DI\DoctrineCrudExtension
	ipubDoctrineTimestampable			: IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
	ipubDoctrineDynamicDiscriminatorMap	: IPub\DoctrineDynamicDiscriminatorMap\DI\DoctrineDynamicDiscriminatorMapExtension

##################################
# Nette extensions configuration #
##################################

# Simple authentication
#######################
fbSimpleAuth:
	token:
		issuer: %security.issuer%
		signature: %security.signature%
	enable:
		middleware: true
		doctrine:
			mapping: true
	services:
		identity: true

# RabbitMQ exchange
####################
fbRabbitMqPlugin:
	origin: %origin%
	rabbitMQ:
		connection:
			host: %exchange.host%
			port: %exchange.port%
			vhost: %exchange.vhost%
			username: %exchange.username%
			password: %exchange.password%
		queue:
			name: %rabbitmq.queueName%
		routing:
			keys: %rabbitmq.routing%

# Web server
#################
fbWebServer:
	server:
		address: %server.address%
		port: %server.port%

# Node translations
###################
contributteTranslation:
	locales:
		default: en_US
		fallback: [en_US, en]
	localeResolvers: []

# Doctrine DBAL
###############
nettrineDbal:
	connection:
		serverVersion: %database.version%
		host: %database.host%
		port: %database.port%
		driver: %database.driver%
		memory: %database.memory%
		dbname: %database.dbname%
		user: %database.username%
		password: %database.password%
		charset: utf8

		types:
			uuid_binary:
				class: Ramsey\Uuid\Doctrine\UuidBinaryType
				commented: false
			utcdatetime:
				class: IPub\DoctrineTimestampable\Types\UTCDateTime
				commented: false

		typesMapping:
			uuid_binary: binary

# Doctrine ORM annoations
#########################
nettrineAnnotations:
	debug: %debugMode%
	ignore:
		- writable
		- validator
		- module
		- author
		- subpackage
		- package
		- phpcsSuppress

# Doctrine ORM
##############
nettrineOrm:
	configuration:
		proxyDir	: %tempDir%/cache/doctrine.proxies

nettrineOrmAnnotations:
	mapping: []

#############################
# Node services definitions #
#############################

decorator:
	FastyBird\NodeWebServer\Commands\HttpServerCommand:
		setup:
			- '$onBeforeServerStart[]' = @FastyBird\TriggersNode\Events\ServerBeforeStartHandler

	FastyBird\RabbitMqPlugin\Exchange:
		setup:
			- '$onAfterConsumeMessage[]' = @FastyBird\TriggersNode\Events\AfterConsumeHandler

services:
	# Console commands
	##################

	- {factory: FastyBird\TriggersNode\Commands\InitializeCommand}

	# Message bus messages handlers
	###############################

	- {factory: FastyBird\TriggersNode\Consumers\ChannelMessageHandler}

	- {factory: FastyBird\TriggersNode\Consumers\ChannelPropertyMessageHandler}

	- {factory: FastyBird\TriggersNode\Consumers\DeviceMessageHandler}

	- {factory: FastyBird\TriggersNode\Consumers\DevicePropertyMessageHandler}

	# Node events
	#############

	- {factory: FastyBird\TriggersNode\Events\ServerBeforeStartHandler}

	- {factory: FastyBird\TriggersNode\Events\AfterConsumeHandler}

	# Events subscribers
	####################

	- {factory: FastyBird\TriggersNode\Subscribers\EntitiesSubscriber}
